/* body{
    background-color: burlywood
} */

.column {
    float: left;
    width: 33.33%;
    padding: 5px;
  }
  
  /* Clear floats after image containers */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  hr{
      margin: 2px;
  }
  .vl {
    border-left: 2px solid black;
    height: 500px;
  }

  .body{
    overflow:hidden;
    color: rgb(6, 7, 26);   
  }

  